

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
 {{>navbar}}
 {{>admin_settings-panel}}
 

 
 
<div class="container mt-5">

  <h2>product Data</h2>
  <table class="table table-striped">
  
    <thead>
      
      <tr>
        <th>Name</th>
        <th>category</th>
        <th>price</th>
        <th>image</th>
      </tr>
    </thead>
    <tbody>
        {{#each product}}
      <!-- Replace the dummy data below with your actual user data -->
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.category}}</td>
        <td>{{this.price}}</td>
      <td><img src="../uploads/{{this.image}}" alt="product image" class="img-fluid"></td>
        <td>
        <a type="button" class="btn btn-primary btn-sm" href="/admin/edit/{{this._id}}">Edit</a> 
         <a type="button" class="btn btn-danger btn-sm"  href="/admin/deleteproduct{{this.id}}">Delete</a>
        </td>
      </tr>
    
    {{/each}}
      <!-- Add more rows for additional users -->
    </tbody>
  </table>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{{>admin_footer}}
</body>

</html>