<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Material Design for Bootstrap</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="css/mdb.min.css" />
  <!-- Custom styles -->
  <link rel="stylesheet" href="public/css/checkout.css" />
</head>

<body>
  {{> user_header}}

  <!-- Checkout -->

  <div class="container mt-5">
    <div class="card shadow-0 border p-4">
      <h5 class="card-title mb-3">Checkout</h5>
      <form action="/checkoutdata" method="post" id="placeOrderBtn">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstname" placeholder="Type here" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Type here" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" name="phone" value="+91" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="example@gmail.com" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="landmark" class="form-label">Landmark</label>
            <input type="text" class="form-control" name="landmark" placeholder="Type here" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="pincode" class="form-label">Pincode</label>
            <input type="text" class="form-control" name="pincode" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" name="address" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" name="city" required>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <a href="/cart" class="btn btn-light border me-2">Cancel</a>
          <button type="submit" class="btn btn-success shadow-0 border">placeorder</button>
        </div>
      </form>

    </div>
    
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="applyCoupon">
      <label class="form-check-label" for="applyCoupon">Apply Coupon</label>

    <!-- Coupon options (hidden by default) -->

    {{#each coupon}}
    <div class="coupon">
      <h3>{{this.couponName}}</h3>
      <p>Discount: {{this.amount}}</p>
      <p>Expiration Date: {{this.expiryDate}}</p>
      <!-- Add more properties here as needed -->
    </div>
    {{/each}}
    </div>




  <!-- Display Cart Items -->
  <div class="row mt-4">
    <div class="col-md-12">
      <h6>Cart Items:</h6>
      <ul class="list-group">
        {{#each cart.items}}
        <li class="list-group-item">
          <span>{{this.quantity}}x</span>
          <div class="d-flex align-items-center">
            <img src="/uploads/{{this.product.image}}" alt="{{this.product.name}}" class="img-thumbnail mr-3"
              style="max-width: 50px;">
            <div>
              {{!-- <strong>{{this.product.name}}</strong> --}}
              <span>${{this.product.price}} each</span>
        </li>
        {{/each}}
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">Standard-Delivery-</div>
          <div class="col text-right">&euro; 50 </div>
        </div>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">TOTAL PRICE</div>
          <div class="col text-right" id="totalprice">&euro; {{totalPrice}}</div>
        </div>
      </ul>
    </div>
  </div>




  </div>
  </div>
  <!-- Checkout -->

  <!-- Summary Section -->
  <div class="container mt-5">
    <!-- Your existing HTML code for the summary section goes here -->
  </div>
  <!-- Summary Section -->

  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript" src="public/js/checkout.js"></script>

  {{> user_footer}}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  <script>
    $("#placeOrderBtn").submit((e) => {
      e.preventDefault();

      const price = $("#totalprice").text();
      var formData = $("#placeOrderBtn").serialize();
      formData += '&price=' + price;
      $.ajax({
        url: '/checkoutdata',
        method: 'POST',
        data: formData,
        success: (res) => {
          razorpay(res)
        },
        error: (xhr, status, error) => {
          console.error("AJAX Error:", status, error);
        }
      });
    });
    function razorpay(order) {
      console.log("hello")
      var options = {
        "key": "rzp_test_7j7rSGDBECW5bp", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Acme Corp",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {

          verify(response, order.receipt);
        },
        "prefill": {
          "name": "Gaurav Kumar",
          "email": "gaurav.kumar@example.com",
          "contact": "9000090000"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);


      rzp1.open();

    }
    function verify(payment, orderID) {
      $.ajax({
        url: '/verifypayment',
        method: 'POST',
        data: {
          payment,
          orderID
        },
        success: (response) => {
          if (response == "success") {
            location.href = "/success" //+ orderID;
          }
          else {
            location.href = "/fail";
          }
        },
      })
    }

  </script>

</body>

</html>